<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/" method="POST">
    <p>A: </p><input type="number" name="A"><br>
    <p>B: </p><input type="number" name="B"><br>
    <p>Name: </p><input type="text" name="name"><br>
    <input type="submit" value="submit" onClick="this.form.submit(); this.disabled=true; this.value='Sending…';">
  </form>

  {% if result and current_id %}
  <p>{{ result }}, {{ current_id }}</p>
  {%endif%}

  {% if error %}
  <p>{{ error }}</p>
  {%endif%}
</body>

</html>